html,
body {
  padding: 0;
  margin: 0;
  background-color: #0b0a0a;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
main,
button,
section,
article {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Montserrat', sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.d-none {
  display: none;
}

*::-webkit-scrollbar {
  width: 12px;
}

/* Track */
*::-webkit-scrollbar-track {
  background-color: #0b0a0a;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background-color: #290029;
  border: 2px solid #0b0a0a;
  border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  cursor: move;
  background-color: #570057;
}
